<html>
  <head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
  />
    <link rel="stylesheet" href="/main.css" />
  </head>

  <body class="viewNew">
    <div class="container">
      <div class="content">
        <div class="title">
          <i class="fa-solid fa-cloud-sun icon"></i>
          <h1>weather app</h1>
        </div>
        <form id="form">
            <input type="text" placeholder="enter country" id="address" />
            <button>get weather</button>
        </form>
        <div class="output">
          <div class="cards hidden" id="cards">
              <div class="title">
                <i class="fa-solid fa-location-dot icon color-icon"></i>
                <h2>Location : <span id="location"></span></h2>
              </div>
              <div class="title">
                <i class="fa-solid fa-poo-storm icon color-icon"></i>
                <h2>condition : <span id="condition"></span></h2>
              </div>
              <div class="title">
                <i class="fa-solid fa-temperature-three-quarters icon color-icon"></i>
                <h2>temperature : <span id="temperature"></span></h2>
              </div>
          </div>
          <div class="error hidden" id="errorContainer">
              <div class="title">
                <i class="fa-solid fa-triangle-exclamation icon color-icon"></i>
                <h2>Error : <span id="error"></span></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/main.js"></script>
  </body>
</html>